.product-heading{
    font-family:'Gill Sans';
    text-align: center;
}
.product-para{
    font-family:'Gill Sans';
    font-size: 18px;
    text-align: center;
    width: 70%;
    margin-left: 15%;
}
.product-sidebar{
    display: flex;
}
.items-section{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

}